/* Empty. Add your own CSS if you like */
.slider-slide h3{
 color:#fff;
 margin-top:10px;
 }
 .scroll{
 height:100%;
 }
 .tabbed-slidebox .tsb-icons:after{
 display:none;
 }

 ion-header-bar{
 	background-color:rgb(115,102,207) !important;
 	border-color: rgb(115,102,207) !important;
 }
 .title {
    font-family: arial !important;
    letter-spacing: 2px !important;
    font-weight: lighter !important;
    padding-top:2px !important;
}
.recipe-title {
    font-size: 12.5px !important;
    text-decoration: none !important;
    text-align: left;
    font-weight: 500 !important;
}
.recipe-link{
	text-decoration:none !important;
}

.recipe-time{
	text-align:left;
	font-size:11px !important;
}

.recipe-price{
    font-size: 12.5px !important;
    text-decoration: none !important;
    text-align: right;
    font-weight: 500 !important;
    color:black !important;
    padding-left: 45px;
}