<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Tabbed Slide box</title>
    <!-- ionic css -->
    <link href="http://code.ionicframework.com/1.0.0-rc.4/css/ionic.css" rel="stylesheet">
    <!-- your app's css -->
    <link href="css/tabSlideBox.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs scripts -->
    <script src="http://code.ionicframework.com/1.0.0-rc.4/js/ionic.bundle.js"></script>
    <script src="js/tabSlideBox.js"></script>
    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>

<body ng-app="slidebox" animation="slide-left-right-ios7">
    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view ng-controller="IndexCtrl"></ion-nav-view>
    <script id="index.html" type="text/ng-template">
        <ion-view class="test" title="FOODIE">


            <ion-nav-buttons side="left">
              <a class="button button-clear icon-left ion-grid" href="#/tab/cart"></a>
            </ion-nav-buttons>



            <ion-nav-buttons side="right">
              <a class="button button-clear icon-right ion-android-more-vertical" href="#/tab/cart"></a>
            </ion-nav-buttons>

            <ion-content scroll="false">

                <tab-slide-box tab="0">
                    <div class="tsb-icons" hidden="true">
                        <div class="tsb-ic-wrp">

                            <ion-scroll direction="x" class="tsb-hscroll">
                                <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>
                            </ion-scroll>
                        </div>
                    </div>

                    <!-- History -->
                    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                        <ion-slide>
                        <div class="recipe-sub-div">
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col recipe-sub-title"> <span> <i class="ion-ios-list-outline" style="margin-left: -137px; margin-top: 46px; font-size: 18px;"></i></span> Meal History</div>
                        </div>

                          <div class="card">
                            <ion-scroll>
                              <ion-list>
                                <!--<ion-item><div class="row" style="height:60px"></div></ion-itm>-->
                                <ion-item class="item" style="" ng-repeat="hist in uHistory">                               
                                  <div class="row">
                                    <div class="recipe-plus-button"><i class="icon ion-plus" style="float: left; padding-top: 3px; color: rgb(203, 203, 203); padding-right: 5px;"></i></div>
                                    <a class="col col-75 recipe-link" href="#/recipe/{{hist.index}}"><h2 class="recipe-title">{{hist.name}}</h2><p class="recipe-time">{{hist.totalTime}} | {{hist.ingredientArrayName[0]}} {{hist.ingredientArrayName[1]}} {{hist.ingredientArrayName[2]}}</p></a>
                                    <div class="recipe-price">
                                          ${{hist.totalPrice}}
                                    </div>
                                  </div>
                                </ion-item>
                              </ion-list>
                            </ion-scroll>
                          </div>
                        </ion-slide>

                        <!-- Current Meals -->
                        <ion-slide>
                        <div class="recipe-sub-div">
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col recipe-sub-title"> <span> <i class="ion-ios-list-outline" style="margin-left: -137px; margin-top: 46px; font-size: 18px;"></i></span> Current Meal List</div>
                        </div>
                          <div class="card">
                            <a href="#/search" class="item item-icon-left">
                              <i class="icon ion-plus" style="color:#74CF66 !important;    font-size: 22px;"></i>
                              <span style="color:#74CF66 !important;font-weight:bold;">Add a meal</span>
                              <span class="badge badge-clear" style="color:#74CF66;">Budget $10</span>
                            </a>
                              <ion-scroll>
                                <ion-list>
                                  <ion-item href="#/recipe">
                                    The most beautiful recipe of all time.
                                  </ion-item>
                                </ion-list>
                              </ion-scroll>
                            </div>
                            <button class="button button-block button-positive grocery-button" href="#/grocerylist">
                              CREATE GROCERY LIST
                            </button>
                        </ion-slide>

                        <!-- Favorites -->
                        <ion-slide>
                        <div class="recipe-sub-div">
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col recipe-sub-title"> <span> <i class="ion-ios-list-outline" style="margin-left: -137px; margin-top: 46px; font-size: 18px;"></i></span> Favourites </div>
                        </div>
                          <div class="card">
                            <ion-scroll style="height:100%">
                              <ion-list>
                                <ion-item ng-repeat="favs in uFavorites">
                                  {{favs.name}}
                                </ion-item>
                              </ion-list>
                            </ion-scroll>
                          </div>
                        </ion-slide>

                    </ion-slide-box>
                </tab-slide-box>
            </ion-content>
        </ion-view>
    </script>
</body>

</html>