<ion-view>
    <ion-nav-buttons side="left">
      <a class="button button-clear icon-left ion-grid" href="#/tab/cart"></a>
    </ion-nav-buttons>



    <ion-nav-buttons side="right">
      <a class="button button-clear icon-right ion-android-more-vertical" href="#/tab/cart"></a>
    </ion-nav-buttons>


  <ion-content>
    <ion-scroll>
      <ion-list>
        <ion-item>
          Showing Meals Under $20
        </ion-item>
        <ion-item>
          <div ng-repeat="r in result" class="row">
            <div class="col col-50">

              <div class="recipe-list-info">
                <div>some item</div>
                <div>some cost</div>
              </div>
              <img class="full-image recipe-img" ng-src="http://{{r.a.imageUrl}}">
            </div>
            <div class="col col-50">
              <div class="recipe-list-info">
                <div>some other 2</div>
                <div>some other 2</div>
              </div>

              <img class="full-image recipe-img" ng-src="http://{{r.b.imageUrl}}">

            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-scroll>


      <div>
        ${{result[0].imageUrl}}
      </div>

    <div ng-repeat="x in result">
      <img ng-src="http://{{x.imageUrl}}" >
    </div>
  </ion-content>

</ion-view>
